<div class="body-start" fxLayout="column" fxLayoutAlign="space-evenly center">
    <div class="head" fxLayout="row" fxLayoutAlign="center center">
        <span><h2>LitghtApp</h2></span>
        <span><h3>- it's simple example messenger</h3></span>
    </div>
    <div class="body" fxLayoutAlign="start center"> 
      <mat-list>
        <mat-list-item><h3>- Angular</h3></mat-list-item>
        <mat-list-item><h3>- Angular/material</h3></mat-list-item>
        <mat-list-item><h3>- FastApi</h3></mat-list-item>
        <mat-list-item><h3>- Firebase</h3></mat-list-item>
      </mat-list>
    </div>
</div>